___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

In [1]:
import pandas as pd

In [2]:
ri = pd.read_csv('RI_cleaned.csv')

C:\Users\CASPER\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (8,16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
ri.head()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,NaN,NaN,NaN,0,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4

In [4]:
ri.isnull().sum()

id                            0
state                         0
stop_date                    10
stop_time                    10
location_raw                  0
county_name              509681
county_fips              509681
fine_grained_location    509681
police_department            10
driver_gender             29097
driver_age_raw            29049
driver_age                30695
driver_race_raw           29073
driver_race               29073
violation_raw             29073
violation                 29073
search_conducted             10
search_type_raw          491919
search_type              491919
contraband_found              0
stop_outcome              29073
is_arrested               29073
stop_duration             29073
out_of_state              29881
drugs_related_stop            0
district                      0
dtype: int64

In [5]:
ri.isnull().sum()/ri.isnull().shape[0]*100

id                         0.000000
state                      0.000000
stop_date                  0.001962
stop_time                  0.001962
location_raw               0.000000
county_name              100.000000
county_fips              100.000000
fine_grained_location    100.000000
police_department          0.001962
driver_gender              5.708865
driver_age_raw             5.699447
driver_age                 6.022394
driver_race_raw            5.704156
driver_race                5.704156
violation_raw              5.704156
violation                  5.704156
search_conducted           0.001962
search_type_raw           96.515075
search_type               96.515075
contraband_found           0.000000
stop_outcome               5.704156
is_arrested                5.704156
stop_duration              5.704156
out_of_state               5.862687
drugs_related_stop         0.000000
district                   0.000000
dtype: float64

In [6]:
ri.shape

(509681, 26)

In [7]:
drop_columns=["state", "county_name", "county_fips", "fine_grained_location"]

In [8]:
ri.drop(drop_columns, axis = 1, inplace = True)

In [9]:
ri.shape

(509681, 22)

In [10]:
ri.isnull().sum()

id                         0
stop_date                 10
stop_time                 10
location_raw               0
police_department         10
driver_gender          29097
driver_age_raw         29049
driver_age             30695
driver_race_raw        29073
driver_race            29073
violation_raw          29073
violation              29073
search_conducted          10
search_type_raw       491919
search_type           491919
contraband_found           0
stop_outcome           29073
is_arrested            29073
stop_duration          29073
out_of_state           29881
drugs_related_stop         0
district                   0
dtype: int64

In [11]:
ri.dropna(subset = ["driver_gender"], inplace = True)

In [12]:
ri.isnull().sum()

id                         0
stop_date                  0
stop_time                  0
location_raw               0
police_department          0
driver_gender              0
driver_age_raw             1
driver_age              1638
driver_race_raw            0
driver_race                0
violation_raw              0
violation                  0
search_conducted           0
search_type_raw       462822
search_type           462822
contraband_found           0
stop_outcome               0
is_arrested                0
stop_duration              0
out_of_state             808
drugs_related_stop         0
district                   0
dtype: int64

In [13]:
ri.shape

(480584, 22)

In [14]:
ri.dtypes

id                     object
stop_date              object
stop_time              object
location_raw           object
police_department      object
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race_raw        object
driver_race            object
violation_raw          object
violation              object
search_conducted       object
search_type_raw        object
search_type            object
contraband_found         bool
stop_outcome           object
is_arrested            object
stop_duration          object
out_of_state           object
drugs_related_stop       bool
district               object
dtype: object

In [15]:
ri.is_arrested.head()

0    False
1    False
3    False
4    False
5    False
Name: is_arrested, dtype: object

In [16]:
ri.is_arrested.value_counts(dropna = False)

False    463981
True      16603
Name: is_arrested, dtype: int64

In [17]:
print(ri.is_arrested.dtype)

object

In [18]:
ri["is_arrested"] = ri.is_arrested.astype("bool")

In [19]:
print(ri.is_arrested.dtype)

bool

In [20]:
combined = ri.stop_date.str.cat(ri.stop_time, sep = ' ')

In [21]:
ri['stop_datetime'] = pd.to_datetime(combined)

In [22]:
ri.set_index('stop_datetime', inplace=True)

In [23]:
# ri["stop_datetime"] = ri["stop_date"] +" "+ ri["stop_time"]

In [24]:
# ri.drop(["stop_date", "stop_time"], axis = 1, inplace = True)

In [25]:
ri.head()

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,White,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,2005-01-04,12:55,Zone X4,500,M,1986.0,19.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,2005-01-06,01:30,Zone X4,500,M,1978.0,27.0,B,Black,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,2005-01-12,08:05,Zone X1,0,M,1973.0,32.0,B,Black,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [26]:
ri.violation.value_counts(dropna = False)

Speeding               268736
Moving violation        90228
Equipment               61250
Other                   24216
Registration/plates     19830
Seat belt               16324
Name: violation, dtype: int64

In [27]:
ri.violation.value_counts(normalize = True)

Speeding               0.559186
Moving violation       0.187747
Equipment              0.127449
Other                  0.050389
Registration/plates    0.041262
Seat belt              0.033967
Name: violation, dtype: float64

## Comparing violations by gender

In [28]:
ri["driver_gender"].value_counts(dropna = False)

M    349446
F    131138
Name: driver_gender, dtype: int64

In [29]:
female = ri[ri.driver_gender == "F"]

In [30]:
male = ri[ri.driver_gender == "M"]

In [31]:
female.head()

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-02-24 01:20:00,RI-2005-00016,2005-02-24,01:20,Zone X3,200,F,1983.0,22.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
2005-03-14 10:00:00,RI-2005-00019,2005-03-14,10:00,Zone K3,300,F,1984.0,21.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
2005-03-29 23:20:00,RI-2005-00026,2005-03-29,23:20,Zone K3,300,F,1971.0,34.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2005-06-06 13:20:00,RI-2005-00035,2005-06-06,13:20,Zone X4,500,F,1986.0,19.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-06-18 16:30:00,RI-2005-00037,2005-06-18,16:30,Zone X4,500,F,1964.0,41.0,W,White,...,False,NaN,NaN,False,Arrest Driver,True,30+ Min,False,False,Zone X4

In [32]:
male.head()

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,White,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,2005-01-04,12:55,Zone X4,500,M,1986.0,19.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,2005-01-06,01:30,Zone X4,500,M,1978.0,27.0,B,Black,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,2005-01-12,08:05,Zone X1,0,M,1973.0,32.0,B,Black,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

In [33]:
female.violation.value_counts(normalize = True)

Speeding               0.657308
Moving violation       0.136581
Equipment              0.107055
Registration/plates    0.043077
Other                  0.028908
Seat belt              0.027071
Name: violation, dtype: float64

In [34]:
male.violation.value_counts(normalize = True)

Speeding               0.522364
Moving violation       0.206948
Equipment              0.135102
Other                  0.058450
Registration/plates    0.040581
Seat belt              0.036555
Name: violation, dtype: float64

In [35]:
ri.groupby(["driver_gender"])["violation"].value_counts(normalize = True, dropna = False)

driver_gender  violation
F              Speeding               0.657308
               Moving violation       0.136581
               Equipment              0.107055
               Registration/plates    0.043077
               Other                  0.028908
               Seat belt              0.027071
M              Speeding               0.522364
               Moving violation       0.206948
               Equipment              0.135102
               Other                  0.058450
               Registration/plates    0.040581
               Seat belt              0.036555
Name: violation, dtype: float64

## Comparing speeding outcomes by gender

In [36]:
female_and_speeding = ri[(ri.driver_gender == "F") & (ri.violation == "Speeding")]

In [37]:
male_and_speeding = ri[(ri.driver_gender == "M") & (ri.violation == "Speeding")]

In [38]:
female_and_speeding.head()

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-02-24 01:20:00,RI-2005-00016,2005-02-24,01:20,Zone X3,200,F,1983.0,22.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
2005-03-14 10:00:00,RI-2005-00019,2005-03-14,10:00,Zone K3,300,F,1984.0,21.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
2005-03-29 23:20:00,RI-2005-00026,2005-03-29,23:20,Zone K3,300,F,1971.0,34.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2005-06-06 13:20:00,RI-2005-00035,2005-06-06,13:20,Zone X4,500,F,1986.0,19.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-07-06 11:22:00,RI-2005-00038,2005-07-06,11:22,Zone X1,0,F,1973.0,32.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X1

In [39]:
ri.stop_outcome.value_counts(dropna = False)

Citation            428378
Warning              28840
Arrest Driver        14630
N/D                   3431
No Action             3332
Arrest Passenger      1973
Name: stop_outcome, dtype: int64

In [40]:
print(female_and_speeding.stop_outcome.value_counts(normalize = True))
print("------------------")
print(male_and_speeding.stop_outcome.value_counts(normalize = True))

Citation            0.953247
Warning             0.039003
Arrest Driver       0.005290
Arrest Passenger    0.001033
N/D                 0.000905
No Action           0.000522
Name: stop_outcome, dtype: float64
------------------
Citation            0.944636
Warning             0.036086
Arrest Driver       0.015767
Arrest Passenger    0.001265
N/D                 0.001183
No Action           0.001063
Name: stop_outcome, dtype: float64

In [41]:
ri.groupby(["violation", "driver_gender"])["stop_outcome"].value_counts(normalize = True)

violation  driver_gender  stop_outcome
Equipment  F              Citation            0.727830
                          Warning             0.157490
                          N/D                 0.047938
                          Arrest Driver       0.040387
                          Arrest Passenger    0.021227
                                                ...
Speeding   M              Warning             0.036086
                          Arrest Driver       0.015767
                          Arrest Passenger    0.001265
                          N/D                 0.001183
                          No Action           0.001063
Name: stop_outcome, Length: 71, dtype: float64

## Calculating the search rate

In [42]:
print(ri.search_conducted.dtype)

object

In [43]:
ri.search_conducted.value_counts(normalize = True)

False    0.963041
True     0.036959
Name: search_conducted, dtype: float64

In [44]:
ri.search_conducted.mean()

0.036959199640437465

## Comparing search rates by gender

In [45]:
ri[ri.driver_gender == "F"].search_conducted.mean()

0.018751239152648355

In [46]:
ri[ri.driver_gender == "M"].search_conducted.mean()

0.04379217389811301

In [47]:
ri.groupby("driver_gender")["search_conducted"].mean()

DataError: No numeric types to aggregate

## Adding a second factor to the analysis

In [ ]:
ri.groupby(["driver_gender", "violation"]).search_conducted.mean()

In [ ]:
ri.groupby(["violation", "driver_gender"]).search_conducted.mean()

## Counting protective frisks

In [ ]:
(ri.search_type == "Protective Frisk").value_counts(dropna = False)

In [ ]:
import numpy as np

In [ ]:
ri['frisk'] = np.where(ri.search_type == "Protective Frisk", True, False)

In [ ]:
ri.frisk.value_counts(dropna = False)

In [ ]:
ri.frisk.value_counts(normalize = True)

In [ ]:
print(ri.frisk.dtype)

In [ ]:
ri.frisk.sum()

## Comparing frisk rates by gender

In [ ]:
searched = ri[ri.search_conducted == True]

In [ ]:
searched.frisk.mean()

In [ ]:
searched.groupby('driver_gender').frisk.mean()

In [ ]:
# No relationship was found between frisk  and gender.